@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Kalam:wght@300;400&family=Rock+Salt&family=Sedgwick+Ave+Display&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(44, 82, 91);
  background: linear-gradient(0deg, rgb(44, 82, 91) 27%, #2e2d2c 100%);
}
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


@keyframes efectoTitulo {
  animation-name {zoomInRight:

  }
  animation-duration 1s
  animation-fill-mode both;
}

@keyframes efectoTitulo {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}


.nav-link, a{
  -webkit-text-stroke: 1px rgb(65, 148, 187);
  color:#141414;
  

}  

.nav-link:hover,
:focus {
  color: #ffffff;
  background: #1ee5ec;
  transform: scale(1.2);
 
}


.titulo {
  text-align: center;
  font-size: 30px;
  animation: efectoTitulo 5s ease 0s 1 alternate forwards;
  background: linear-gradient(0deg, rgb(44, 82, 91) 27%, #2e2d2c 100%);
  display: inline-block;
  border-radius: 20px;
  font-family: "Rock Salt", cursive;
}

.boxCenter {
  text-align: center;
  border-radius: 20px;
}

.titulo2,
h2 {
  text-align: center;
  animation: efectoTitulo 5s ease 2s 1 alternate forwards;
  margin: 50px;
  color: #2eaebf;
  font-family: "Ephesis", cursive;
  font-family: "Kalam", cursive;
  margin-bottom: 500px;;
}

.navbarLetras  {
  font-family: "Ephesis", cursive;
  font-family: "Kalam", cursive;
  display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(24, 22, 22, 0.575);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.2s;
    transition-property: transform;
}

.navbarLetras:hover {
  border-radius: 20px 20px;
  box-shadow: 0px 0px 40px rgb(44, 82, 91);
 
}

.containerImgHome {
  display: flex;
  justify-content: center;
}

.imgHome {
  width: 25%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
}

.imgHome:hover{
 
  box-shadow: 0px 0px 15px 15px #1d92af;
  -webkit-box-shadow: 0px 0px 15px 15px #1ee5ec;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }
/*FOOTER */

.contenedorFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #1d1b1a58;
  height: 200px;
  width: 100%;
}

.logosRS {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.logosRS:hover {
  transform: scale(1.2);
  box-shadow: 50% #1d92af;
  -webkit-box-shadow: 0px 0px 10px 10px #1ee5ec;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  border-radius: 50%;
}

.itemsRedes {
  color: rgb(205, 175, 140);
}


 /* Boton de descarga  */
 .btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
.contenedorbotonDescarga {
  display: flex;
  justify-content: center;
}

.btn a {
  text-decoration: none;
  color: #cdaf8c;
}
.imgDescarga {
  width: 15px;
}
/* .botonDescarga a {
  text-decoration: none;
  color: #cdaf8c;
}

.botonDescarga:hover{
 
  box-shadow: 0px 0px 15px 15px #1d92af;
  -webkit-box-shadow: 0px 0px 15px 15px #1ee5ec;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }

.contenedorbotonDescarga {
  display: flex;
  justify-content: center;
}

.botonDescarga {
  border-radius: 15px;
  padding: 5px;
  background: rgb(44, 82, 91);
  background: linear-gradient(0deg, rgb(44, 82, 91) 27%, #2e2d2c 100%);
}


 */


.imgCertificado {
  margin-bottom: 200px;
  margin-top: 150px;
  width: 40%;
  border-radius: 30px;
}

.contenedorLogos{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logoshc {
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.75);
}

.logoshc:hover{
  box-shadow: 0px 0px 15px 15px #1d92af;
  -webkit-box-shadow: 0px 0px 15px 15px #1ee5ec;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }

.misHabilidades {
  margin: 50px;
  font-size: 30px;
  width: 100%;
  color: #2eaebf;
  font-family: "Ephesis", cursive;
  font-family: "Kalam", cursive;
  text-align: center;
  -webkit-animation: focus-in-contract 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract 8s ease 2s 1 alternate forwards 0.99s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media (min-width: 200px) and (max-width: 500px) {
  .imgCertificado{
    margin: 100px;
    width: 400px;
    padding: 20px;
  }
}

@media (min-width: 500px) and (max-width: 700px){
.imgCertificado{
  width: 500px;
}

}